@model GameNight;
@{
    ViewData["Title"] = @Model.Title;
}
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-8 p-4">
            <div class="row">
                <div class="col align-items-center">
                    <h2 class="d-inline m-0">@Model.Title</h2>
                    @if (@Model.AdultOnly == true) {
                    <img  class="mb-3" src="~/images/adults-warning-sign.png" width="35px" />
                    }
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-6">
                    <h4>Details</h4>
                    <ul>
                        <li class="pb-3"><img class="list-img" src="~/images/calender-icon.svg" class="me-4" />@Model.DateAndTime.GetDateDisplay()</li>
                        <li class="pb-3"><img class="list-img" src="~/images/location-icon.svg" class="pe-2" />@Model.Location</li>
                        <li class="pb-3"><img class="list-img" src="~/images/people-icon.svg" class="pe-2" />@Model.GetPlayerCountDisplay()</li>
                        <li class="pb-3"><img class="list-img" src="~/images/dinner-icon.svg" class="pe-2" />@Model.GetDietInfoDisplay()</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4>Bordspellen</h4>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <partial name="_BoardGameAccordionItem"/>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <h4>Beschrijving</h4>
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 bg-secondary-color white-text">
            <div class="d-flex flex-column h-100">
                <div class="row align-items-center justify-content-center flex-grow-1">
                    <div class="col-12 text-center ">
                        <h4>
                            Ja, ik wil erbij zijn!
                        </h4>
                        <div class="row align-items-end">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-primary-color ">Aanmelden</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
